---
// src/pages/blog.astro
---
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
  </nav>
</header>
<main>
  <div class="mx-auto flex max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10">
    <div>
      <h1 class="text-gray-500 dark:text-gray-400">Welcome to my blog!</h1>
    </div>
  </div>
  <h1>Welcome to my blog!</h1>
  <h2>Navigation to my reflections as I'm going through my studies:</h2>
  <ul>
    <li><a href="/ISKM61/">ISKM61 - MOOC Learning</a></li>
  </ul>
</main>

<style is:global>
  @import "tailwindcss";
</style>