<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jan Jireš</title>
  <link rel="stylesheet" href="/css/template.css" />


</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
    </nav>
  </header>
  <main>
    <h1>Hey! Welcome at my page!</h1>
	<h2>I'm gonna share my study journey here with you! Check out the Blog for newest developments!</h2>
	<p>Still new to this, so please have patience.</p>
	<iframe src="/under-construction-template-master/underconstruction.html" width="100%" height="600"></iframe>
  </main>
</body>
</html>
